.header {
	background: #242424;
}

.language{
    padding:10px;
   
}
header .header-mid{
    background:none ;
}
.language a{
    color:#bbb;
    font-size: 13px !important;
}
.language img{
    margin:0 5px;
    border-radius: 3px;
}
.language li{
    list-style: none;
}
.language  .dropdown-menu{
    background:#000000c9;
    padding: 0;
    margin-top: 15px;
    border-radius: 0px;
}
.language  .dropdown-menu a:hover{
    text-decoration: none;
}
.language  .dropdown-menu a{
    color:#bbb !important;
    padding:10px 20px;
}
.language  .dropdown-menu > li a:hover{
    background:#000;
}
.contact-bar a{
    color: #575757;
    margin-top: 14px;
    display: inline-block;
    font-size: 13px !important;
}
.contact-bar a:hover{
    color:rgb(255, 255, 255) ;
}
.contact-bar .sitemap-btn,.outline-btn{
    background:none ;
    color:#3594ff;
    border:1px solid #3594ff;
    margin-top:3px;
    border-radius: 20px;
    font-size: 13px !important;
    
}
.logo_title h3{
    font-size:18px !important;
    color:#686868;
  
}
.logo_title h2{
    font-size:20.5pt !important;
    margin-top: 38px !important;
    color:#367ed7;
}
.navbar{

}
/* nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle::after{
    content:'';
} */
.justify-content-center{
    -ms-flex-pack: center !important;
justify-content: center !important;
display: flex;
flex-wrap: wrap;
  
}
.outline-btn{
text-transform: uppercase;
padding: 8px 20px;
}
.outline-btn:hover,.sitemap-btn:hover{
    background:#3594ff;
    color:#fff;
}
.search-box input{
    background: #1a1a1a;
    border-radius: 30px !important;
    border: 1px solid #464545;
    width: 220px !important;
    padding: 5px 20px;
    height: auto;
    margin-top: 4px;
    color:#bbb !important;
    font: 13px;
}
.search-card .card{
    background:#ffffffd9;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #4040403b;
    font-family: Roboto,sans-serif !important;
}
.search-card .card h4{
    font-family: Roboto,sans-serif !important;
    font-size: 23px;
    margin-top:20px;
}
.search-title{
    text-align:center;
    color:#fff;
    font-family: Roboto,sans-serif !important;
    margin-top: -30px;
    margin-bottom: 40px;
}

.search-box input::before{
    content: "\f002";
}

.header-mid .logo img{
    margin:0;
}
.attr-nav .button {
	background: linear-gradient(#6c757d,#4c4c4c);
	margin: 5px;
	border-radius: 5px;
}
.attr-nav .button>a {
	padding: 10px;
    font-size: 14px;
    color: #FFF;
}
.bg-white{
    background:#fff;
}
.carousel-item img{
    height:250px;
}
.new-section h3{
    padding:20px 0;
}
nav.navbar{
    background:linear-gradient(to top, #4798ff, #2791ff) !important;
    border:none;
    padding:0;
    color:#fff;
    margin:0;
}
nav.navbar li a{
    color:#fff;
}
nav.navbar #navbar-menu  ul.nav > li > a{
    font-weight: normal;
    padding:10px !important;
    
}
/* .nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #1974ea;
} */
nav.navbar  ul.nav > li > a:hover,.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover,.nav .open > a, 
.nav .open > a:focus, .nav .open > a:hover,.nav > li > a:focus, .nav > li > a:hover{
    background:#1d68dd;
}
#navbar .dropdown-menu{
    background:#0a5fbf;
}
nav.navbar  li.dropdown ul.dropdown-menu > li > a{
    border-bottom:solid 1px #024ad5;
    padding: 15px 10px;
}
#navbar .dropdown-menu > li > a:focus,#navbar  .dropdown-menu > li > a:hover{
    background:#0451aa;
}
#navbar .dropdown-menu {
    padding:0;
    border:none;
}
nav.navbar ul.nav > li:hover{
    background:none;
}
nav.navbar span a{
    color:#fff;
    display:inline-block;
    margin-top:15px;
    padding:0 15px;
    font-size: 13px;
}
nav.navbar span a:hover{
    color:#e8c439;
}

nav.navbar span{
    color:#fff;
}
.full-width{
    width:100%;
}
.container-box {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #d5c0c040;
	position: relative;
	overflow: hidden;
	width: 100%;
	padding: 20px;
	font-size: 16px;
	font-weight: normal;
	margin-top: 20px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
.news-card{
    background:#fff;
    border-radius: 10px;
    box-shadow:0px 0px 5px #d5c0c061;
    float:left;
    padding:20px;
    margin-bottom:20px;
}
.news-card .card-text{
    float:left;
}

.news-card .outline-btn{
    font-size:13px;
    text-transform: capitalize;
    padding:5px 10px;
}
.link-card-warp{
    background: #e1e9ff;
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 0px 0px 10px #dfc9c9b3; */
}
.link-card-warp h4{
    font-size: 15px;
    font-weight: bold;
}
.link-card-warp a{
    color: #150606;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 20px;
    background: #ffffff91;
    margin: 10px;
    padding: 15px 10px;
    border-radius: 10px;
   transition: 1s;
   
}
.link-card-warp a:hover{
    box-shadow: 0px 0px 20px #2729734f;
}
.h-100 {
    height: 100% !important;
    margin: 0px 0px 20px 0px;
    border-radius: 10px;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
/* .login .login-container{
    width:500px;
} */
.login-container{
    box-shadow:0px 0px 10px #d5c0c047;
}
.login-register-container{
    background:#fff;
    border-radius: 20px;
    box-shadow:0px 0px 10px #d5c0c047;
    margin:20px 0;
    padding:10px 10px 30px ;
}
.login-register-container p{
    font-size:13px;
    margin-top:10px;
}
.contact p{
    font-size: 13px;
color: #000;
border: 1px solid #abd5e1;
width: 100%;
padding: 10px;
border-radius: 10px;
background: #f7f7f7;
}
.login-register-container .btn{
    /* margin-top:30px; */
}
.login-register-container .form-control{
    margin-top:10px;
    border-radius: 20px;
    border:1px solid #f0f0f0
}
.login-register-container form {
   padding-top:20px;
    text-align: center;
}
.sitemap img{
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px 0px 40px;
}
.register .login-container{
    min-height:600px;
    text-align: center;
}
.register button{
    margin-top:10px;
}
.login.register i{
    font-size: 93px;
    color: #eee;
    padding-top:30px;
}
.login i{
    font-size: 93px;
    color: #eee;
    padding-top:40px;
}
.page_main_wrapper{
    padding:0px 0 30px 0;
}
.form-control {
    display: block !important;
    width: 100%;
    height: 100;
    padding: .375rem .75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d0d0d0;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: none;
}
.outline h2{
    font-size: 20px;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
    font-size: 14px;
}	
.input-group-append .btn {
	padding: 0px 10px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-append .btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}
.card-img, .card-img-top {
    border-radius: 15px;
}
.table .thead-dark th {
    color: #fff;
    background: #3b95ff94;
    border-color: #e6e6e6;
    border-top-color: rgb(230, 230, 230);
    text-align: left;
    font-weight: normal;
}
.table{
    border-spacing: 0;
    
}
#owl-slider.owl-theme .owl-controls .owl-buttons div{
    background:#2a7dff;
}
/*content */
.about-container{
    padding:30px 0px 50px;
    background:#fff;
}
.new-section p{
    height:120px;
    overflow: hidden;
}
footer{
    background:url(../images/footer-bg.jpg)no-repeat;
    background-size: cover;
}
.footer-box{
    border-bottom: 1px solid #5e5d5d;
    padding-bottom: 30px;
}
.footer-box ul li{
    color:#bbb;
}
.read-morebtn{
    width:100%;
    display: block;
    text-align: center;
}
.footer-box i{
    margin: 0 0 10px;
    margin-right: 0px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #0a5fbf;
    vertical-align: middle;
    border-radius: 50px;
    color: #fff !important;
    padding-top: 17px;
    font-size: 24px;
}
.footer-text{
    margin-top:20px;
}
.footer-text p{
    text-align: center;
    font-size: 15px;
    color:#bbb;
}
.footer-text img{
    width:40px;
    border-radius: 5px;
    margin-left:10px;
}
.back-top {
    background: #075ec1cf;
    border: 1px solid #0360cc;}
.search .portfolio-item a img.card-img-top{
    height:200px;
    width:100%;
}
.search .card-title a{
    font-size: 16px;
    text-transform: uppercase;
}
/* .search-container{
    margin-top:-450px;
} */

#material {
    background:url('../images/s2.jpg');
    position: relative;        
}

#food {
    background:url('../images/s7.jpg');
    position: relative;        
}

#textile {
    background:url('../images/s4.jpg');
    position: relative;        
}

.bg-wrap{
    position: relative;
    background:url('../images/slide-01.jpg');
}
.search a{
    cursor: pointer;
}
.bg-wrap::before{
    content: "";
    background: rgba(0, 27, 51, 0.64);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.bg-wrap h4{
    color:#fff;font-size: 30px;
}
.bg-wrap h1{
    color: #fff;
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;
     line-height: 41px;
}
.result-value h3{
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 18px;
}
.result-value{
    margin-top:-50px;
}
.bg-wrap p{
    color: #d2d2d2;
    text-align: center;
    font-size: 15px;
    line-height: 27px;
}
.bg-wrap .container{
    position: relative;
    padding:50px 0 120px;
}
.cat-search-box-wrap{
    margin-top:-50px;
    position: relative;
}
.cat-search-box-wrap label{
    font-size: 16px;
    font-weight: normal;
}
.cat-search-box-wrap input{
   border-radius: 10px;

}

.cat-search-box-wrap i{
position: absolute;
top: 55px;
right: 30px;
color: #9d9d9d;

}
.item-image img{
    width:100%;
    height:220px;
}
@media (min-width: 993px) {
    nav.navbar.bootsnav ul.nav>li>a {
        padding: 10px 16px !important;
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    .nav>li {
        width: 100% !important;
        text-align: left;
    }
    .logo_title h2{
        margin-top:0;
        line-height: 37px;
    }
    .logo_title{
        margin-top:30px !important;
    }
    .search-title{
        margin-top:10px;
        color:#222;
        font-size: 25px;
    }

}